In [ ]:
#Using dataset2 for statement formation
file=open('/content/car_data.csv','r')
info_dataset=[]
while True:
    data=file.readline()
    if data:
        info_dataset.append(data.replace("\n", "").split(','))
    else:
        break
print(info_dataset)
#Output :
#[['Manufacturer', 'Model', 'Sales_in_thousands', 'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower', 'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity', 'Fuel_efficiency', 'Latest_Launch'],
#['Acura', 'Integra', '17', 'Passenger', '21.5', '1.8', '140', '101.2', '67.3', '172.4', '2.639', '13.2', '28', '2/2/2012'],
#['Acura', 'TL', '39', 'Passenger', '28.4', '3.2', '225', '108.1', '70.3', '192.9', '3.517', '17.2', '25', '6/3/2011'],
#['Audi', 'A8', '1', 'Passenger', '62', '4.2', '310', '113', '74', '198.2', '3.902', '23.7', '21', '2/27/2012'],
#['BMW', '323i', '20', 'Passenger', '26.99', '2.5', '170', '107.3', '68.4', '176', '3.179', '16.6', '26', '6/28/2011'],
#['Buick', 'LeSabre', '83', 'Passenger', '27.885', '3.8', '205', '112.2', '73.5', '200', '3.591', '17.5', '25', '7/23/2011'],
#['Cadillac', 'DeVille', '64', 'Passenger', '39.895', '4.6', '275', '115.3', '74.5', '207.2', '3.978', '18.5', '22', '2/23/2012'],
#['Chevrolet', 'Cavalier', '146', 'Passenger', '13.26', '2.2', '115', '104.1', '67.9', '180.9', '2.676', '14.3', '27', '8/17/2011'],
#['Chevrolet', 'Malibu', '135', 'Passenger', '16.535', '3.1', '170', '107', '69.4', '190.4', '3.051', '15', '25', '3/19/2012'],
#['Chevrolet', 'Metro', '22', 'Passenger', '9.235', '1', '55', '93.1', '62.6', '149.4', '1.895', '10.3', '45', '4/13/2012'],
#['Chevrolet', 'Impala', '108', 'Passenger', '18.89', '3.4', '180', '110.5', '73', '200', '3.389', '17', '27', '6/18/2011'],
#['Chrysler', 'Sebring Coupe', '8', 'Passenger', '19.84', '2.5', '163', '103.7', '69.7', '190.9', '2.967', '15.9', '24', '1/16/2012'],
#['Chrysler', 'LHS', '13', 'Passenger', '28.34', '3.5', '253', '113', '74.4', '207.7', '3.564', '17', '23', '5/8/2012'],
#['Chrysler', '300M', '31', 'Passenger', '29.185', '3.5', '253', '113', '74.4', '197.8', '3.567', '17', '23', '2/10/2012'],
#['Dodge', 'Neon', '76', 'Passenger', '12.64', '2', '132', '105', '74.4', '174.4', '2.567', '12.5', '29', '12/12/2011'],
#['Dodge', 'Ram Van', '31', 'Car', '18.575', '3.9', '175', '127.2', '78.8', '208.5', '4.298', '32', '16', '7/26/2012'],
#['Dodge', 'Dakota', '111', 'Car', '16.98', '2.5', '120', '131', '71.5', '215', '3.557', '22', '19', '11/25/2011'],
#['Dodge', 'Durango', '101', 'Car', '26.31', '5.2', '230', '115.7', '71.7', '193.5', '4.394', '25', '17', '6/27/2012'],
#['Dodge', 'Caravan', '182', 'Car', '19.565', '2.4', '150', '113.3', '76.8', '186.3', '3.533', '20', '24', '9/1/2011'],
#['Ford', 'Escort', '70', 'Passenger', '12.07', '2', '110', '98.4', '67', '174.7', '2.468', '12.7', '30', '3/31/2012'],
#['Ford', 'Mustang', '113', 'Passenger', '21.56', '3.8', '190', '101.3', '73.1', '183.2', '3.203', '15.7', '24', '1/31/2012'],
#['Ford', 'Contour', '35', 'Passenger', '17.035', '2.5', '170', '106.5', '69.1', '184.6', '2.769', '15', '25', '8/20/2012'],
#['Ford', 'Taurus', '246', 'Passenger', '17.885', '3', '155', '108.5', '73', '197.6', '3.368', '16', '24', '12/20/2011'],
#['Ford', 'Ranger', '221', 'Car', '12.05', '2.5', '119', '117.5', '69.4', '200.7', '3.086', '20', '23', '1/14/2012'],
#['Ford', 'F-Series', '541', 'Car', '26.935', '4.6', '220', '138.5', '79.1', '224.5', '4.241', '25.1', '18', '8/16/2012'],
#['Honda', 'Civic', '200', 'Passenger', '12.885', '1.6', '106', '103.2', '67.1', '175.1', '2.339', '11.9', '32', '10/21/2011'],
#['Honda', 'Accord', '231', 'Passenger', '15.35', '2.3', '135', '106.9', '70.3', '188.8', '2.932', '17.1', '27', '5/20/2012'],
#['Honda', 'CR-V', '73', 'Car', '20.55', '2', '146', '103.2', '68.9', '177.6', '3.219', '15.3', '24', '3/21/2012'],
#['Honda', 'Passport', '13', 'Car', '26.6', '3.2', '205', '106.4', '70.4', '178.2', '3.857', '21.1', '19', '10/9/2012'],
#['Honda', 'Odyssey', '76', 'Car', '26', '3.5', '210', '118.1', '75.6', '201.2', '4.288', '20', '23', '2/8/2012']]

[['Manufacturer', 'Model', 'Sales_in_thousands', 'Vehicle_type', 'Price_in_thousands', 'Engine_size', 'Horsepower', 'Wheelbase', 'Width', 'Length', 'Curb_weight', 'Fuel_capacity', 'Fuel_efficiency', 'Latest_Launch'], ['Acura', 'Integra', '17', 'Passenger', '21.5', '1.8', '140', '101.2', '67.3', '172.4', '2.639', '13.2', '28', '2/2/2012'], ['Acura', 'TL', '39', 'Passenger', '28.4', '3.2', '225', '108.1', '70.3', '192.9', '3.517', '17.2', '25', '6/3/2011'], ['Audi', 'A8', '1', 'Passenger', '62', '4.2', '310', '113', '74', '198.2', '3.902', '23.7', '21', '2/27/2012'], ['BMW', '323i', '20', 'Passenger', '26.99', '2.5', '170', '107.3', '68.4', '176', '3.179', '16.6', '26', '6/28/2011'], ['Buick', 'LeSabre', '83', 'Passenger', '27.885', '3.8', '205', '112.2', '73.5', '200', '3.591', '17.5', '25', '7/23/2011'], ['Cadillac', 'DeVille', '64', 'Passenger', '39.895', '4.6', '275', '115.3', '74.5', '207.2', '3.978', '18.5', '22', '2/23/2012'], ['Chevrolet', 'Cavalier', '146', 'Passenger', '13.26', '2.2', '115', '104.1', '67.9', '180.9', '2.676', '14.3', '27', '8/17/2011'], ['Chevrolet', 'Malibu', '135', 'Passenger', '16.535', '3.1', '170', '107', '69.4', '190.4', '3.051', '15', '25', '3/19/2012'], ['Chevrolet', 'Metro', '22', 'Passenger', '9.235', '1', '55', '93.1', '62.6', '149.4', '1.895', '10.3', '45', '4/13/2012'], ['Chevrolet', 'Impala', '108', 'Passenger', '18.89', '3.4', '180', '110.5', '73', '200', '3.389', '17', '27', '6/18/2011'], ['Chrysler', 'Sebring Coupe', '8', 'Passenger', '19.84', '2.5', '163', '103.7', '69.7', '190.9', '2.967', '15.9', '24', '1/16/2012'], ['Chrysler', 'LHS', '13', 'Passenger', '28.34', '3.5', '253', '113', '74.4', '207.7', '3.564', '17', '23', '5/8/2012'], ['Chrysler', '300M', '31', 'Passenger', '29.185', '3.5', '253', '113', '74.4', '197.8', '3.567', '17', '23', '2/10/2012'], ['Dodge', 'Neon', '76', 'Passenger', '12.64', '2', '132', '105', '74.4', '174.4', '2.567', '12.5', '29', '12/12/2011'], ['Dodge', 'Ram Van', '31', 'Car', '18.575', '3.9', '175', '127.2', '78.8', '208.5', '4.298', '32', '16', '7/26/2012'], ['Dodge', 'Dakota', '111', 'Car', '16.98', '2.5', '120', '131', '71.5', '215', '3.557', '22', '19', '11/25/2011'], ['Dodge', 'Durango', '101', 'Car', '26.31', '5.2', '230', '115.7', '71.7', '193.5', '4.394', '25', '17', '6/27/2012'], ['Dodge', 'Caravan', '182', 'Car', '19.565', '2.4', '150', '113.3', '76.8', '186.3', '3.533', '20', '24', '9/1/2011'], ['Ford', 'Escort', '70', 'Passenger', '12.07', '2', '110', '98.4', '67', '174.7', '2.468', '12.7', '30', '3/31/2012'], ['Ford', 'Mustang', '113', 'Passenger', '21.56', '3.8', '190', '101.3', '73.1', '183.2', '3.203', '15.7', '24', '1/31/2012'], ['Ford', 'Contour', '35', 'Passenger', '17.035', '2.5', '170', '106.5', '69.1', '184.6', '2.769', '15', '25', '8/20/2012'], ['Ford', 'Taurus', '246', 'Passenger', '17.885', '3', '155', '108.5', '73', '197.6', '3.368', '16', '24', '12/20/2011'], ['Ford', 'Ranger', '221', 'Car', '12.05', '2.5', '119', '117.5', '69.4', '200.7', '3.086', '20', '23', '1/14/2012'], ['Ford', 'F-Series', '541', 'Car', '26.935', '4.6', '220', '138.5', '79.1', '224.5', '4.241', '25.1', '18', '8/16/2012'], ['Honda', 'Civic', '200', 'Passenger', '12.885', '1.6', '106', '103.2', '67.1', '175.1', '2.339', '11.9', '32', '10/21/2011'], ['Honda', 'Accord', '231', 'Passenger', '15.35', '2.3', '135', '106.9', '70.3', '188.8', '2.932', '17.1', '27', '5/20/2012'], ['Honda', 'CR-V', '73', 'Car', '20.55', '2', '146', '103.2', '68.9', '177.6', '3.219', '15.3', '24', '3/21/2012'], ['Honda', 'Passport', '13', 'Car', '26.6', '3.2', '205', '106.4', '70.4', '178.2', '3.857', '21.1', '19', '10/9/2012'], ['Honda', 'Odyssey', '76', 'Car', '26', '3.5', '210', '118.1', '75.6', '201.2', '4.288', '20', '23', '2/8/2012']]

In [ ]:
# Question 1: How many unique manufacturers are there?
unique_Manufacturer = set(row['Manufacturer'] for row in data)
print("Number of unique manufacturers:", len(unique_Manufacturer))

Number of unique manufacturers: 10

In [ ]:
# Question 2: What is the total sales in thousands for all vehicles?
total_sales = sum(float(row['Sales_in_thousands']) for row in data)
print("Total sales in thousands:", total_sales)

Total sales in thousands: 3007.0

In [ ]:
# Question 3: What is the average fuel efficiency of vehicles?
Fuel_efficiency = [float(row['Fuel_efficiency']) for row in data]
average_fuel_efficiency = sum(Fuel_efficiency) / len(Fuel_efficiency)
print("Average fuel efficiency:", average_fuel_efficiency)

Average fuel efficiency: 24.655172413793103

In [ ]:
# Question 4: How many different vehicle types are there?
unique_vehicle_types = set(row['Vehicle_type'] for row in data)
print("Number of different vehicle types:", len(unique_vehicle_types))

Number of different vehicle types: 2

In [ ]:
# Question 5: What is the maximum horsepower among all vehicles?
max_horsepower = max(float(row['Horsepower']) for row in data)
print("Maximum horsepower:", max_horsepower)

Maximum horsepower: 310.0

In [ ]:
# Question 6: Which vehicle has the highest price in thousands?
max_price_vehicle = max(data, key=lambda x: float(x['Price_in_thousands']))
print("Vehicle with the highest price:", max_price_vehicle['Model'])

Vehicle with the highest price: A8

In [ ]:
# Question 7: What is the average length of vehicles?
Length = [float(row['Length']) for row in data]
average_length = sum(Length) / len(Length)
print("Average vehicle length:", average_length)

Average vehicle length: 190.61034482758623

In [ ]:
# Question 8: Which manufacturer has the most fuel capacity across all their vehicles?
fuel_capacities_by_manufacturer = {}
for row in data:
    manufacturer = row['Manufacturer']
    fuel_capacity = float(row['Fuel_capacity'])
    if manufacturer in fuel_capacities_by_manufacturer:
        fuel_capacities_by_manufacturer[manufacturer] += fuel_capacity
    else:
        fuel_capacities_by_manufacturer[manufacturer] = fuel_capacity

manufacturer_with_most_fuel_capacity = max(fuel_capacities_by_manufacturer, key=fuel_capacities_by_manufacturer.get)
print("Manufacturer with the most fuel capacity:", manufacturer_with_most_fuel_capacity)

Manufacturer with the most fuel capacity: Dodge

In [ ]:
# Question 9 : What are the top 5 manufacturers in terms of sales?
sales_by_manufacturer = {}
for row in data:
    manufacturer = row['Manufacturer']
    sales = float(row['Sales_in_thousands'])
    if manufacturer in sales_by_manufacturer:
        sales_by_manufacturer[manufacturer] += sales
    else:
        sales_by_manufacturer[manufacturer] = sales

top_manufacturers = sorted(sales_by_manufacturer, key=sales_by_manufacturer.get, reverse=True)[:5]
print("Top 5 manufacturers by sales:")
for manufacturer in top_manufacturers:
    print(manufacturer)

Top 5 manufacturers by sales:
Ford
Honda
Dodge
Chevrolet
Buick

In [ ]:
# Question 10 : Which vehicle models have the highest sales?
data.sort(key=lambda x: float(x['Sales_in_thousands']), reverse=True)
top_models = [row['Model'] for row in data[:5]]
print("Top 5 vehicle models by sales:")
for model in top_models:
    print(model)

Top 5 vehicle models by sales:
F-Series
Taurus
Accord
Ranger
Civic